/*general styiling*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* side bar styiling*/

.aside {
    float: left;
    background-color: #3CB371;
    width: 240px;
}

.aside ul li a {
    display: block;
    text-decoration: none;
    text-align: left;
}


/* background styling*/

.home {
    display: flex;
    background: url(assets/croped.gif) center;
    width: 100%;
    background-size: cover;
    float: left;
    background-repeat: no-repeat;
    height: 100vh;
    color: #f7f7f7;
    min-height: 500px;
    background-attachment: fixed;
}


/* nav bar styling*/

.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    background: rgb(85, 85, 85);
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 15px;
    background: rgb(85, 85, 85);
    transition: 0.5s;
}

.navbar .name a {
    color: #f7f7f7;
    font-size: 35px;
    font-weight: 600;
}

.navbar .name a span {
    color: #3CB371;
}

.navbar .nav li {
    list-style: none;
    display: inline-block;
}

.navbar .nav li a {
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .nav li a:hover {
    color: #3CB371;
}


/* index.html main content styling*/

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: 3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: rgb(73, 148, 73);
    font-weight: 500;
}


/* Profile page styling*/

.personalinfo {
    margin: auto 0 auto 50px;
    background-color: rgb(85, 85, 85);
    width: 30%;
    margin-top: 50px;
}

.freetime li {
    color: #3CB371;
    margin-left: 60px;
}

.football {
    float: right;
    display: flex;
    width: 300px;
    height: 500px;
}


/*blogpage styiling*/

.bphoto1 {
    display: flex;
    background: url(assets/blog-main.jpg) center;
    width: 100%;
    background-size: cover;
    float: left;
    background-repeat: no-repeat;
    height: 100vh;
    color: #f7f7f7;
    min-height: 500px;
    background-attachment: fixed;
}


/*navbar active page*/

.active {
    color: #000;
    background-color: #3CB371;
    padding: 6px;
}